<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Welcome to The BANK</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-auto" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class=" nav-item text-warning">Hello,{{user.first_name}}</li>
            <li class="nav-item">
              <a class="nav-link text-success" href="/changepaswd">Change Password</a>
          </li>
            <li class="nav-item">
              <a class="nav-link text-success" href="/logout">Logout</a>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-danger" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="/register">Register</a>
          </li>
         </ul>
         {% endif %}
      </div>
    </nav>

    {% include 'messages.html' %}
    <div class="container-fluid mt-0 px-0">
      <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://source.unsplash.com/1900x500/?Education" class="d-block w-100" alt="...">
        </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/1900x500/?School" class="d-block w-100" alt="...">
          </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/1900x500/?Students" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

    {% if user.is_authenticated %}
    <div class="container-fluid well span6">

          <div class="row-fluid">
              <div class="span8">
                  <h2>Your Profile</h2>
                  {% for d in data %}
                  <h6>Name :{{d.name}}</h6>
                  <h6>Email :{{d.email}}</h6>
                  <h6>Phone: {{d.phone}}</h6>
                  <h6>Grade: {{d.grade}}</h6>
                  {% endfor %}
              </div>

              <div class="span2">
                  <div class="btn-group">
                      <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                          Action
                          <span class="icon-cog icon-white"></span><span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
                          <li><a href="/delete"><span class="icon-trash"></span> Delete</a></li>
                      </ul>
                  </div>
              </div>
          </div>
    </div>

    {% else %}
  <div class="container-fluid section my-5">
            <div class="row my-2">
                <div class="col-md-6">
                    <h3>
                        Highly Skilled Volunteers
                    </h3>
                    <p>
                        Through its program, TopVolunteer™, GetLance partners with leading nonprofits and NGOs around the world who need high-skilled talent for their volunteer initiatives. Members of the GetLance network are encouraged to offer their skills and experience to these projects, whether to solve a timely problem or to contribute on an ongoing basis.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="https://preview.ibb.co/erdq8p/Employee-1.jpg" alt=""/>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-md-6">
                    <img src="https://preview.ibb.co/cu76g9/Employee-2.jpg" alt=""/>
                </div>
                <div class="col-md-6">
                    <h3>
                        Cutting-Edge Skill Development
                    </h3>
                    <p>
                       GetLance Academy hosts regular, rigorous learning sessions for the most in-demand skills. By presenting our elite, experienced network with ongoing opportunities to update and elevate their portfolios, we are able to solve pressing talent shortages while ensuring success for dedicated participants.
                    </p>
                </div>
            </div>
        </div>

    {% endif %}

    <footer class="py-2 text-center bg-dark fixed-bottom text-light">Copyright 2022 | All Rights Reserved</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>