<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
   <!--Made with love by Mutiullah Samim -->

	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-auto" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto navbar-nav-danger">
          <li class="nav-item active">
            <a class="nav-link text-danger" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="/register">Register</a>
          </li>
        </ul>
      </div>
    </nav>

{% include 'messages.html' %}

<div class="container my-5 col-md-4 border rounded bg-warning">
	<div class="row mx-auto justify-content-center">
        <div class="col-md-offset-5 col-md-8">
            <form class="form-login" method="post" action="/login">
                {% csrf_token %}
                <h4 class="text-dark text-center my-2">Welcome back</h4>
                <input type="text" name="username" class="form-control input-sm chat-input" placeholder="Username" />
                </br>
                <input type="password" name="password" class="form-control input-sm chat-input" placeholder="Password" />
                </br>
                <div class="wrapper text-center">
                        <input type="submit" value="Login" class="btn login_btn btn-primary">
                </div>
            </form>

        </div>
    </div>
    <div class="d-flex justify-content-center my-2 ">
		Not registered yet? <a href="/register" class="text-primary"> Sign Up</a>
	</div>
</div>

<footer class="py-2 text-center bg-dark fixed-bottom text-light">Copyright 2022 | All Rights Reserved</footer>
</body>
</html>